@model GymManagementBusinessLayer.ViewModels.MembershipVM.CreateVM
@{
    ViewData["Title"] = "Create Membership";
}
@if (TempData["ErrorMessage"] is not null)
{
    <div id="Alert" class="alert alert-danger alert-dismissible fade show">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}




<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">

                        <div class="mb-3">
                            <label class="form-label">Member</label>
                            <select class="form-select" asp-for="MemberId"  asp-items="@ViewBag.Members">
                                <option value="">-- Select Member --</option>
                               
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Plan</label>
                            <select class="form-select" asp-for="PlanId" asp-items="@ViewBag.Plans">
                                <option value="">-- Select Plan --</option>
                                
                            </select>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Create Membership</button>
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_AlertPartial" />
}